
.spinner-border {
	font-size: 1rem !important;
}

.toggle-timer-button {
	width: 50%;
	padding: 0;
	border-radius: 50%;
	position: relative;
}

.toggle-timer-button:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.toggle-timer-button > .content {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 5rem;
}

.timer-duration {
	font-size: 1.5rem;
	text-align: center;
}

.timer-current-run {
	font-size: 2rem;
	text-align: center;
	padding-right: 1.5rem;
}

.timer-list-item {
	--bs-card-spacer-y: 0.5rem;
}

.timer-list-item i {
	font-size: 1.5rem;
}
